<nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container">
        <a class="navbar-brand disabled text-center" href="#"><h2 class="success">Doctor Proctor <i class="fas fa-user-md"></i> </h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link disabled" href="doctors/welcome">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/">Find-Doctors</a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" href="/doctors">Doctors</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/doctors/add">Add Doctors</a>
            </li>
           
            <li>
                <a href="/users/logout" class="btn btn-outline-secondary">Logout</a>
            </li>
        
        </ul>
        </div>
    </div>    
</nav>

<div class="jumbotron jumbotron-fluid home">
    <div class="container text-dark">
      <h1 class="display-4">Welcome to Doctor Proctor <i class="fas fa-user-md text-black-50"></i></h1>
      <p class="lead">Our goal is to provide you with the best set of options, so you don't feel cheated.</p>

        <section id="search" class="search-wrap">
            <h1>Find A Doctor</h1>
            <div class="row">
                <div class="col-md-6">        
                    <form action="/doctors/search" class="search-form form-inline">
                        <div class="form-group">
                            <input class="form-control" type="search" name="term" placeholder="Troy, Rochester etc...">
                            <button type="submit" class="btn btn-primary"  value="Search">Submit</button>
                        </div>   
                        
                    </form>
                </div> 
            </div>        
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                <h4>Search Doctors by Specialty!</h4>
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-md-4 specialty">
                        <ul>
                            <li><a href="/doctors/speciality?speciality=Cardiology">Cardiology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=Dermatology">Dermatology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=family+practice">Family Practice</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=gastroenterology">Gastroenterology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=general+surgery">General Surgery</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=infectious+disease"> Infectious Disease</a></li>
                        </ul>
                        
                       
                    </div>
                    <div class="col-md-4 specialty">
                        <ul>
                            <li><a href="/doctors/speciality?speciality=internal+medicine">Internal Medicine</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=neonatology">Neonatology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=neurology">Neurology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=neurosurgery">Neurosurgery</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=obstetrics+&+gynecology">Obstetrics & Gynecology</a></li>
                        </ul>

                    </div>
                    <div class="col-md-4 specialty">
                        <ul>
                            <li><a href="/doctors/speciality?speciality=orthopedics">Orthopedics</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=pediatrics">Pediatrics</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=pediatric+surgery">Pediatric Surgery</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=psychiatry">Psychiatry</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=radiology">Radiology</a></li>
                        </ul>
                        <ul>
                            <li><a href="/doctors/speciality?speciality=urology">Urology</a></li>
                        </ul>

                    </div>

                </div>
                </div>
            </div>
        </div> 
        <div class="col-md-3">
            <img class="w-100 float-right" src="assets/doctors2.png" alt="doctor gesutring towards options">
        </div>   
    </div>    
</div>        
{{>footer}}
 
