nav.navbar.navbar-expand-lg.welcome{
    background:white;
}
nav ul li a{
    color: black;
}
nav a h2{
    color:#2c8049e0;
    font-size:xx-large ;
}
.nav-item a:hover{
        border-bottom: solid 1px #4bbf73;
}
a.btn.btn-secondary.btn-block.login{
    background:#4bbf73;
}
img.d-block.w-100{
    height: 500px;
    margin-top: 0rem;
    
}
div.jumbotron.jumbotron-fluid.home{
background:linear-gradient(45deg, #4bbf73, transparent);

}
div.col-md-4.specialty ul li{
    list-style: none;
}
.steps {
    text-align: center;
    color: white;
    margin-top: 3rem;
    border:solid 3px #4bbf7418 ;
    height: 50px;
    border-radius: 15px;
    width:75px;
    margin-left:8rem;
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
    background-color: #4bbf73;
}
div.follow h3{
    text-align: center;
    margin-top: 3rem;
    color: #4bbf73 ;
    font-size: xx-large;
}
div.section3{
    margin-top:3rem;
    text-align: center;
    background:#4bbf7418 ;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 1.05rem;
}
.text{
    font-size: 1.05rem;
    padding-top: 25px;
}
footer{
    text-align: center;
    margin-top: 3rem;
    border-top: solid 1px rgb(223, 221, 221);
}
footer p {
    padding-top: 3rem;
    padding-bottom:1rem ;
}

footer.container-fluid {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
 